html, body {
	overflow-x: hidden;
	/* font-size: 100px; */
	background-color: red;
  margin: 0px;
}

.App {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

.MuiSwitch-track {
  background-color: #e52d27 !important;
}

#textarea-input-embedded::-webkit-scrollbar {
  width: 17px;
  cursor: default !important;
}

#textarea-input-embedded::-webkit-scrollbar-track {
  background: #424242; 
  cursor: pointer;
}
 
#textarea-input-embedded::-webkit-scrollbar-thumb {
  background: #686868;
  cursor: pointer;
}

#textarea-input-embedded::-webkit-scrollbar-thumb:hover {
  background: #686868; 
  cursor: pointer;
}

#textarea-input-embedded::-webkit-scrollbar-button {
  display: block;
  background-color: #424242;
  background-repeat: no-repeat;   
  background-size: 50%;
  background-position: center;
  cursor: pointer !important;
}

#textarea-input-embedded::-webkit-scrollbar-button:hover {
  background-color: #686868;
}

#textarea-input-embedded::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg');
}

#textarea-input-embedded::-webkit-scrollbar-button:vertical:start:increment {
  display: none;
}

#textarea-input-embedded::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

#textarea-input-embedded::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg');
}
